.card-container {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.animation-card {
    display: none;
    /* Hide all cards initially */
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

#index-display {
    margin: 10px;
    font-size: 128px;
    background-color: black;
    color: white;
    border: 12px red solid;
}