body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#product-name {
    color: white;
    font-size: 48px; /* You can adjust the size as needed */
    margin: 0;
}

#sub-title {
    color: yellow;
    font-size: 24px; /* You can adjust the size as needed */
}

main {
    background-color: white;
    padding: 20px;
    height: calc(100% - 60px); /* Adjust the height based on the header padding */
}


.section_header {
    background-color: red;
    width: 100%;
    padding: 20px 10px;
    text-align: left;
    color: white;
    font-size: 24px;
}

.experiment_name {
    font-size: 54px;
}

.row_element {
    font-size: 24px;
}

.domain_icon {
    width: 200px;
}